body{
background:#eee url("/images/background.png") no-repeat fixed;
background-size:100%;
}

.footer {
position:relative;
margin-bottom:30px;
margin-top:30px;
background-color: #323737;
}

.custom-top-nav{
padding-top:30px;
}

.navbar{
border:0;
border-radius:0;
margin-bottom:0;
}

.navbar-default {
background-color: #323737;
}

.navbar-brand {
float:none;
padding:0;
}

.navbar-collapse{
padding:0;
}

.navbar-brand>img {
background-color:#fff;
width:100%;
}

.navbar-nav, .navbar-nav>li{
float: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
background-color: #c72c2c;
}

.navbar-default .navbar-nav > li > a {
  border-bottom:1px solid #c72c2c;
  color: #999;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  padding-bottom:14px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #fff;
background-color: #c72c2c;
}

.custom-top-nav .col-xs-1, .custom-top-nav .col-sm-1, .custom-top-nav .col-md-1, .custom-top-nav .col-lg-1, .custom-top-nav .col-xs-2, .custom-top-nav .col-sm-2, .custom-top-nav .col-md-2, .custom-top-nav .col-lg-2, .custom-top-nav .col-xs-3, .custom-top-nav .col-sm-3, .custom-top-nav .col-md-3, .custom-top-nav .col-lg-3, .custom-top-nav .col-xs-4, .custom-top-nav .col-sm-4, .custom-top-nav .col-md-4, .custom-top-nav .col-lg-4, .custom-top-nav .col-xs-5, .custom-top-nav .col-sm-5, .custom-top-nav .col-md-5, .custom-top-nav .col-lg-5, .custom-top-nav .col-xs-6, .custom-top-nav .col-sm-6, .custom-top-nav .col-md-6, .custom-top-nav .col-lg-6, .custom-top-nav .col-xs-7, .custom-top-nav .col-sm-7, .custom-top-nav .col-md-7, .custom-top-nav .col-lg-7, .custom-top-nav .col-xs-8, .custom-top-nav .col-sm-8, .custom-top-nav .col-md-8, .custom-top-nav .col-lg-8, .custom-top-nav .col-xs-9, .custom-top-nav .col-sm-9, .custom-top-nav .col-md-9, .custom-top-nav .col-lg-9, .custom-top-nav .col-xs-10, .custom-top-nav .col-sm-10, .custom-top-nav .col-md-10, .custom-top-nav .col-lg-10, .custom-top-nav .col-xs-11, .custom-top-nav .col-sm-11, .custom-top-nav .col-md-11, .custom-top-nav .col-lg-11, .custom-top-nav .col-xs-12, .custom-top-nav .col-sm-12, .custom-top-nav .col-md-12, .custom-top-nav .col-lg-12 {
padding:0;
}

.front-content-blocks{
background-color: #181818;
padding:0 30px;
margin-top:30px;
}

.front-content-blocks h1{
color:#fff;
text-transform:uppercase;
}

ul.toggle {
    overflow:hidden;
}

ul.toggle li {

    width:40px; height:30px;
    background:#2c2c2c;
    position:relative;
    margin-right:1px;
    float:left;
    display:block;
    cursor:pointer;
    text-align:center;
    overflow:hidden !important;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

ul.toggle li.active {

    background:#FFF;
}

ul.toggle li img {
    margin-top:-30px;

     -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul.toggle li.active img {
    margin-top:0px;
}


.toggle-label {
    color: #FFFFFF;
    line-height: 14px;
    margin: 7px 11px 0 0;
    text-align: right;
    font-size:13px;
}
