

   <script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));window.onerror=noError;
    </script>
    <div class="hidden-phone" id="masthead">
      <div id="full-height-width-slider" class="royalSlider heroSlider rsMinW">
	<div class="rsContent full" style="background-image:url(images/slider_logo.png);"> 
	  <a class="rsImg" href="#" ></a> 
	  <a class="rsLink" href="/"></a>
	  <div class="rsABlock bottom-left" data-fade-effect="true" data-move-effect="bottom" data-move-offset="40" data-speed="300" data-easing="easeOutSine">
	    <p class="title"> <a style="color:#ffffff;" href="/">Red Village painting the city</a></p> 
	    <span class="links"><a href="index.html?p=12576">more here</a></span>&nbsp;&nbsp;&nbsp;
	  </div>
	</div>
	<div class="rsContent full" style="background-image:url(images/uploads/001.jpg);"> 
	  <a class="rsImg" href="#" ></a> 
	  <a class="rsLink" href="/"></a>
	  <div class="rsABlock bottom-left" data-fade-effect="true" data-move-effect="bottom" data-move-offset="40" data-speed="300" data-easing="easeOutSine">
	    <p class="title"> <a style="color:#ffffff;" href="index.html?p=12594">Hangouts</a></p> 
	    <span class="links"><a href="#">more here</a></span>&nbsp;&nbsp;&nbsp;</div></div>
	<div class="rsContent full" style="background-image:url(images/uploads/49.jpg);"> 
	  <a class="rsImg" href="#" ></a> 
	  <a class="rsLink" href="#"></a>
	  <div class="rsABlock bottom-left" data-fade-effect="true" data-move-effect="bottom" data-move-offset="40" data-speed="300" data-easing="easeOutSine">
	    <p class="title"> <a style="color:#ffffff;" href="index.html?p=12479">Chakuchichi !!!!</a></p> 
	    <span class="links"><a href="#">Find info on tickets and dates</a></span>&nbsp;&nbsp;&nbsp;
	  </div>
	</div>
	<div class="rsContent full" style="background-image:url(images/uploads/52.jpg);"> 
	  <a class="rsImg" href="#" ></a> 
	  <a class="rsLink" href="index.html?p=12504"></a>
	  <div class="rsABlock bottom-left" data-fade-effect="true" data-move-effect="bottom" data-move-offset="40" data-speed="300" data-easing="easeOutSine">
	    <p class="title"> <a style="color:#ffffff;" href="index.html?p=12504">Le Pule</a></p> 
	    <span class="links"><a href="#">more here</a></span>&nbsp;&nbsp;&nbsp;
	  </div>
	</div>
	<div class="rsContent full" style="background-image:url(images/uploads/60.jpg);"> 
	  <a class="rsImg" href="#" ></a> 
	  <a class="rsLink" href="#"></a>
	  <div class="rsABlock bottom-left" data-fade-effect="true" data-move-effect="bottom" data-move-offset="40" data-speed="300" data-easing="easeOutSine">
	    <p class="title"> <a style="color:#ffffff;" href="#">Dem Bwoyz</a></p> 
	    <span class="links"><a href="#">more here</a></span>&nbsp;&nbsp;&nbsp;
	  </div>
	</div>
      </div>
    </div>
    
    <div class="row-fluid max-width">
      <div class="container-fluid">
	<div class="content-block">
	  <h2 class="pull-left">VIDEOS</h2>
	  <div class="clearfix"></div>
	  <div class="grid-content youtube-content">
	    <div class="row-fluid">
	      <div class="span8 video-featured"> 
		<iframe id="yt-player" width="100%" height="100%" frameborder="0" allowfullscreen></iframe></div>
	      <div class="video-thumbs span4"><div data-ytid="/QxlpPd-GYrQ" class="youtube-playlist-item">
		  <div class="youtube-status"><img src="http://img.youtube.com/vi/QxlpPd-GYrQ/mqdefault.jpg"/></div>
		  <p class="youtube-title">On The Run Tour: Rehearsals</p>
		</div>
		<div data-ytid="/0l4jPmc6_wU" class="youtube-playlist-item">
		  <div class="youtube-status">
		    <img src="http://img.youtube.com/vi/0l4jPmc6_wU/mqdefault.jpg"/></div>
		  <p class="youtube-title">Alexa Goddard - Marilyn (Official)</p>
		</div>
		<div data-ytid="/w0IIYU9om_k" class="youtube-playlist-item">
		  <div class="youtube-status">
		    <img src="http://img.youtube.com/vi/w0IIYU9om_k/mqdefault.jpg"/></div>
		  <p class="youtube-title">Capital Cities - One Minute More (Official Video)</p>
		</div>
		<div data-ytid="/IXpxe9xL-sk" class="youtube-playlist-item">
		  <div class="youtube-status">
		    <img src="http://img.youtube.com/vi/IXpxe9xL-sk/mqdefault.jpg"/>
		  </div>
		  <p class="youtube-title">Naughty Boy - Home ft. SAM ROMANS</p>
		</div>
		<div data-ytid="/DfQAhii0TzA" class="youtube-playlist-item">
		  <div class="youtube-status">
		    <img src="http://img.youtube.com/vi/DfQAhii0TzA/mqdefault.jpg"/>
		  </div>
		  <p class="youtube-title">Kylie Minogue - Crystallize (Official Video)</p>
		</div>
		<div data-ytid="/7-7knsP2n5w" class="youtube-playlist-item">
		  <div class="youtube-status">
		    <img src="http://img.youtube.com/vi/7-7knsP2n5w/mqdefault.jpg"/>
		  </div>
		  <p class="youtube-title">Shakira - La La La (Brazil 2014)</p>
		</div> 
		<a class="more-videos" href="music.1#videos">MORE VIDEOS...</a>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="row-fluid max-width">
      <div class="container-fluid">
	<div class="span4 three-col-center">
	  <div class="content-block single bottom-box" id="tour-section"><h2 class="pull-left">SOCIAL</h2>
            <ul class="pull-right toggle">
	      <li data-toggle-key="twitter"> 
		<img src="/images/twitter-icon.png"/>
	      </li>
	      <li data-toggle-key="facebook"> 
		<img src="images/facebook-icon.png"/>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="section-content"> 
              <div class="toggleable-item" data-toggle-key="facebook">
                <div class="fb-like-box" data-href="https://www.facebook.com/TheRedcupvillage" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false"></div>
              </div>
              <div class="toggleable-item" data-toggle-key="twitter">
                <a class="twitter-timeline" href="https://twitter.com/Redcupvillage" data-widget-id="524525381504614402">Tweets by @Redcupvillage</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
            </div>
	  </div>
	</div>
	<div class="span4 seven-col-right">
	  <div class="content-block double bottom-box" style="width: 700px">
	    <h2 class="pull-left">GALLERY</h2>
	    <div class="fluid_container" style="clear: both;display: block;height: 80px;line-height: 40px;padding: 20px;">
              <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                <div data-thumb="../images/slides/thumbs/bridge.jpg" data-src="../images/slides/bridge.jpg">
                  <div class="camera_caption fadeFromBottom">
                    Camera is a responsive/adaptive slideshow. <em>Try to resize the browser window</em>
                  </div>
                </div>
                <div data-thumb="images/slides/thumbs/leaf.jpg" data-src="images/slides/leaf.jpg">
                  <div class="camera_caption fadeFromBottom">
                    It uses a light version of jQuery mobile, <em>navigate the slides by swiping with your fingers</em>
                  </div>
                </div>
            <div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg">
              <div class="camera_caption fadeFromBottom">
                <em>It's completely free</em> (even if a donation is appreciated)
              </div>
            </div>
            <div data-thumb="images/slides/thumbs/sea.jpg" data-src="images/slides/sea.jpg">
              <div class="camera_caption fadeFromBottom">
                Camera slideshow provides many options <em>to customize your project</em> as more as possible
              </div>
            </div>
            <div data-thumb="images/slides/thumbs/shelter.jpg" data-src="images/slides/shelter.jpg">
              <div class="camera_caption fadeFromBottom">
                It supports captions, HTML elements and videos and <em>it's validated in HTML5</em> (<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pixedelic.com%2Fplugins%2Fcamera%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0&amp;user-agent=W3C_Validator%2F1.2" target="_blank">have a look</a>)
              </div>
            </div>
            <div data-thumb="images/slides/thumbs/tree.jpg" data-src="images/slides/tree.jpg">
              <div class="camera_caption fadeFromBottom">
                Different color skins and layouts available, <em>fullscreen ready too</em>
              </div>
            </div>
              </div><!-- #camera_wrap_1 -->

    	      
            </div><!-- .fluid_container -->
            
            
          </div>
        </div> 
      </div>
    </div>
</div>
