<div class="col-lg-10 col-md-9 col-sm-12"> 
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/slide-1.jpg" alt="red village image">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <img src="images/slide-1.jpg" alt="red village image">
        <div class="carousel-caption">
          ...
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Youtube player -->

<div class="col-sm-12">
  <div class="front-content-blocks clearfix"></div>
  <h1>Videos</h1>
  <!-- youtube big screen goes here -->
  <div id="frame"></div>
  
</div>

<!-- small boxes row -->
<div class="row clearfix">
  <div class="col-sm-4">
    <div class="front-content-blocks clearfix">
      <h1>Instagram</h1>
      <iframe src="http://widget.websta.me/in/tag:redcupvillage/?s=80&amp;w=3&amp;h=5&amp;b=0&amp;p=5" style="overflow:hidden;width:255px; height:449px" ></iframe> 
    </div>	
  </div>	

  <div class="col-sm-4">
    <div class="front-content-blocks clearfix">
      <h1>Facebook</h1>
      <div class="fb-like-box" style="background-color:#fff;" data-href="https://www.facebook.com/TheRedCupVillage" data-height="500" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="front-content-blocks clearfix">
      <h1>Twitter</h1>
      <a class="twitter-timeline"  href="https://twitter.com/Redcupvillage" data-widget-id="524525381504614402">Tweets by @Redcupvillage</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

</div>

<script>
  window.onload = function(){  
  window.controller = new YTV('frame', {
  user: 'TreeJTV',
  accent: 'yellow'
  });
  
  };
</script>
