.col-sm-12
  .col-sm-4
    .col-lg-4.front-content-blocks.clearfix
      #facebook{:style => "vertical-align: middle;"}
        .fb-like-box{"data-colorscheme" => "light", "data-header" => "false", "data-height" => "300", "data-href" => "https://www.facebook.com/TheRedCupVillage", "data-show-border" => "false", "data-show-faces" => "true", "data-stream" => "true", :style => "background-color:#fff;"}
