<div class="col-sm-12"> 
  <div class="col-sm-4">
    <div class="col-lg-4 front-content-blocks clearfix"> 
      <div  id="facebook" style="vertical-align: middle;">
        <div class="fb-like-box" style="background-color:#fff;" data-href="https://www.facebook.com/TheRedCupVillage" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false">
        </div>
      </div>    
    </div>
  </div>
</div>
