/ <p> welcome user</p>
/ <haml_silent> unless user_signed_in? </haml_silent><haml_block>
/ <p><haml_loud> link_to &#39;Sign up&#39;, new_user_registration_path </haml_loud></p>
/ <p><haml_loud> link_to &#39;Sign in&#39;, new_user_session_path </haml_loud></p>
/ </haml_block>
