.col-lg-10.col-md-9.col-sm-12
  / <div class="col-sm-8">
  / <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  / <\!-- Indicators -\->
  / <ol class="carousel-indicators">
  / <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  / <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  / <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  / </ol>
  / Wrapper for slides
  / <div class="carousel-inner" role="listbox">
  / <div class="item active">
  / <img src="images/slide-1.jpg" alt="red village image">
  / <div class="carousel-caption">
  / ...
  / </div>
  / </div>
  / <haml_silent> @images.each do |image| </haml_silent><haml_block>
  / <div class="item">
  / <img src="images/uploads/<haml_loud> image.split(&#39;/&#39;).last </haml_loud>" alt="red village image">
  / <div class="carousel-caption">
  / <haml_loud> image </haml_loud>
  / </div>
  / </div>
  / </haml_block>
  / </div>
  / </div>
  / </div>
  / <div class="col-sm-4">
  / <div class="front-content-blocks clearfix">
  / <h3 style="color: #ff0000">Comments</h3>
  / <form class="form-horizontal" role="form">
  / <div class="form-group">
  / <input type="text" class="form-control" id="input10" placeholder="Write a comment">
  / </div>
  / </form>
  / </div>
  / </div>
  #cp_widget_354acea7-a4a7-4724-a455-37d2b37c06d2 ...
  :javascript
    var cpo = []; cpo["_object"] ="cp_widget_354acea7-a4a7-4724-a455-37d2b37c06d2"; cpo["_fid"] = "AUAA3ic7oYrv";
    var _cpmp = _cpmp || []; _cpmp.push(cpo);
    (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
    cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
    var c = document.getElementsByTagName("script")[0];
    c.parentNode.insertBefore(cp, c); })();
  %noscript
    Powered by Cincopa
    %a{:href => "http://www.cincopa.com/video-hosting"} Video Hosting for Business
    solution.
