<div class="hidden-phone" id="masthead">
  <div class="row-fluid max-width">
    <h1>Bootstrap Image Gallery Demo</h1>
    <form class="form-inline">
      <div class="control-group">
        <button id="video-gallery-button" type="button" class="btn btn-success">
          <i class="glyphicon glyphicon-film"></i>
          Launch Video Gallery
        </button>
        <button id="image-gallery-button" type="button" class="btn btn-primary">
          <i class="glyphicon glyphicon-picture"></i>
          Launch Image Gallery
        </button>
      </div>
    </form>
    <br>
    <!-- The container for the list of example images -->
    <div id="links"></div>
    <br>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.js"></script>
<script src="js/demo.js"></script>

