%div.col-lg-10.col-md-9.col-sm-12
  %div.blueimp-gallery#blueimp-gallery
    %div.slides %div
      %h3.title %h3
       %a.prev ‹ %a
       %a.next › %a
       %a.close × %a
       %a.play-pause %a
       %ol.indicator %ol
  %div
%div
