<div class="col-lg-10 col-md-9 col-sm-12"> 
  <!-- <div class="col-sm-8"> -->
  <!--   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
  <!--     <\!-- Indicators -\-> -->
  <!--     <ol class="carousel-indicators"> -->
  <!--       <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li> -->
  <!--       <li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
  <!--       <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
  <!--     </ol> -->
      
      <!-- Wrapper for slides -->
  <!--     <div class="carousel-inner" role="listbox"> -->
  <!--     <div class="item active"> -->
  <!--       <img src="images/slide-1.jpg" alt="red village image"> -->
  <!--       <div class="carousel-caption"> -->
  <!--         ... -->
  <!--       </div> -->
  <!--     </div> -->
  <!--     <% @images.each do |image| %> -->
  <!--     <div class="item"> -->
  <!--       <img src="images/uploads/<%= image.split('/').last %>" alt="red village image"> -->
  <!--       <div class="carousel-caption"> -->
  <!--         <%= image %> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--     <% end %> -->
      
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- <div class="col-sm-4"> -->
  <!--   <div class="front-content-blocks clearfix"> -->
  <!--     <h3 style="color: #ff0000">Comments</h3> -->
  <!--     <form class="form-horizontal" role="form"> -->
  <!--       <div class="form-group"> -->
  <!--         <input type="text" class="form-control" id="input10" placeholder="Write a comment"> -->
  <!--       </div> -->
  <!--     </form> -->
  <!--   </div> -->
  <!-- </div> -->
 
  <div class="col-sm-4">
    <div class="col-lg-4 front-content-blocks clearfix"> 
      <h4>Miss Cput</h4>
      <a href="#"><img alt="Brand" class="img-responsive" src="/images/red-village-logo.png" /></a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="col-lg-4 front-content-blocks clearfix"> 
      <h4>Miss Cput</h4>
      <a href="#"><img alt="Brand" class="img-responsive" src="/images/red-village-logo.png" /></a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="col-lg-4 front-content-blocks clearfix"> 
      <h1>Miss Cput</h1>
      <a href="#"><img alt="Brand" class="img-responsive" src="/images/red-village-logo.png" /></a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="col-lg-4 front-content-blocks clearfix"> 
      <h1>Miss Cput</h1>
      <a href="#"><img alt="Brand" class="img-responsive" src="/images/red-village-logo.png" /></a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="col-lg-4 front-content-blocks clearfix"> 
      <h1>Miss Cput</h1>
      <a href="#"><img alt="Brand" class="img-responsive" src="/images/red-village-logo.png" /></a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="col-lg-4 front-content-blocks clearfix"> 
      <h2>Miss Cput</h2>
      <a href="#"><img alt="Brand" class="img-responsive" src="/images/red-village-logo.png" /></a>
    </div>
  </div>
 
</div>
