// Place all the styles related to the attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
/*css for full size background image*/
  background: url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/11033763_1596661783950394_5489141912772732203_n.jpg?oh=3178d14941511a133527654fda21c5e8&oe=55DE13AF&__gda__=1440982552_f7c07104a50f70041e623a1bd6d3a11d) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: white;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  
 
}