!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Red Village
   
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
  
    / Bootstrap
   
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-61227525-1', 'auto');
      ga('send', 'pageview');
  %body
    .container
      #wrapper
    .overlay
    / Sidebar
    %nav#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      %ul.nav.sidebar-nav
        %li.sidebar-brand
          %a{:href => "/"}
            Red Cup Village
       
        %li=link_to "About" , home_about_us_path
          
        %li=link_to "Gallery" , gallery_path
          
        %li=link_to "Music" , music_path
        %li=link_to "trends" , trends_path
        
        %li
          %a{:href => "https://twitter.com/Redcupvillage"} Follow me
    / /#sidebar-wrapper
     
      

    .container
      .row
        = yield
      %footer.footer
        %p.text-muted.text-center
          %span{:style => "color: #900"} RedVillage ®
